language: php
php:
  - '5.6'
  - '7.2'
cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer
    - $HOME/.local
    - vendor
before_script:
  - cd ./CF7-spreadsheets
  - composer self-update
  - composer update
script:
  - ./vendor/bin/php-cs-fixer fix -v --diff --dry-run
